
.block-container {
    padding: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 30px;
    transition: 0.3s;
  
    /* height: 4rem; */
}
.block-img {
    max-width: 100%;
    max-height: 100%;
}
.icon-outer-block {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
}

.explain-text {
    font-weight: 900;
    font-size: 20px;
}
.icon-inner-block {
    display: flex;
    height: 5rem;
    width: 5rem;
    background-color: #FFC8CB;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-inner-block > svg {
    height: 2rem;
    width: 2rem;
}


.inline-container {
    display: flex;
    text-align: left;
   justify-content: center;
   align-items: center;
}

.inline-container > div {
    margin-bottom: 0;
    display: flex;
    vertical-align: middle;
}


.block-container:hover {
    box-shadow: 0px 0px 15px 5px lightgrey;
    transform: scale(0.95);
}

@media (max-width: 840px) {
    .block-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}