.footer-container {
    background-color: #e2f4ff;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #676d75;
    line-height: 1.6;
    word-spacing: 1px;
    font-weight: 800;
    box-sizing: unset;
    padding-bottom: 6rem;

}

.footer-inner > div {
    width: 100%;
}

.footer-icon > svg {
    height: 5rem;
    width: 5rem; 
    fill:#0274d1;
}
.footer-detail {
    display: flex;
    justify-content: flex-end!important;
}
.footer-detail-container {
    display: flex;
    /* flex-direction: column; */
}

.footer-detail-container > ul {
    list-style: none;
}

.footer-container li:first-child {
    line-height: 2.7;
    font-size: 1.2rem;
    font-weight: 800!important;
}
.footer-container li {
    line-height: 2.1;
    opacity: 0.8;
    font-weight: 400;
    font-size: 1rem;
}

.copy-container {
    width: 100%;
    left: 0;
    bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

@media (max-width: 840px) {
    .footer-detail {
     justify-content: center!important;
    
    }
    .footer-detail-container > ul{
        margin-top: 3rem;
    }
  }
  