.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.right-container > svg {
    display: flex;
}

.text-contain {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 2rem;

}

.font-header {
    font-size: 5rem;
    text-transform: uppercase;
}

.sub-header {
    color: rgb(103, 109, 117);
    line-height: 2;
    font-weight: 600;
}

.start-btn {
    background-color: white!important;
    color: #5397FE;
    font-weight: 800;
    line-height: 2;
    border-radius: 25px;
    min-width: 10rem;
}

.start-btn:focus {
    outline: none!important;
}
.start-btn:hover {
    color: #5397FE;
}
.start-btn2 {
    background-color: #5397FE!important;
    color: white;
    font-weight: 800;
    line-height: 2;
    border-radius: 25px;
    min-width: 10rem;
}

.start-btn2:focus {
    outline: none!important;
}
.start-btn2:hover {
    color: white;
}


.scroll-icon {
    position: absolute;
    color: rgb(103, 109, 117);
    font-size: 13px;
    font-weight: 600;
    opacity: 0.7;
}
.scroll-icon > svg {
    height: 20px;
    width: 20px; 
    fill: rgb(103, 109, 117);
}

@media (max-width: 540px) {
    .right-container > svg {
      display: none;
    }
  }
  