@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
.container {
    padding-left: 0!important;
    padding-right: 0!important;
}

.sub-title {
    color: rgb(103, 109, 117);
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
}

.sub-title-container {
    margin-top: 8rem;
}

.service-img {
    max-width:100%;
    max-height:100%;
}

.service-block {
    text-align: left;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 5rem 5rem 5rem!important;
}

.service-block-title {
    color: #97a2af;
   font-weight: 900!important;
   text-transform: uppercase;
   letter-spacing: 2px;
   line-height: 3;

}

.service-block-subtitle {
    color: rgb(103, 109, 117);
    font-weight: 800!important;
    line-height: 1.5;
 
 }

.service-btn {
    background-color: #5397FE;
    color: white;
    font-weight: 800;
    line-height: 1.6;
    border-radius: 10px;
    min-width: 8rem;
    transition: all 0.3s ease 0s;
}

.service-btn:hover {
    background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  /* transform: translateY(-7px); */
}