.sub-title {
    color: rgb(103, 109, 117);
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    
}

.menu-img-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    transform: translateY(17rem);
}

.menu-img {
    display: flex;
    max-width: 30%;
    max-height: 30%;
    opacity: 0.9;
}

#menu {
    padding-left: 0px!important;
    padding-right: 0px!important;

}

.card {
    background-color: transparent;
    overflow: hidden;
    border: 0px;
    border-radius: 25px;
    transition: 0.4s;
    box-shadow: 0px 1px 15px 5px darkgrey;
}

.card:hover {
   transform: scale(0.95);
   opacity: 0.5;
}

.card-text {
    font-weight: 800;
    font-size: 1rem;
}


.card-body > a {
    background-color: #5397FE;
    color: white;
    font-weight: 800;
    line-height: 2;
    border-radius: 10px;
    border: 0;

}

.card-body > a:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}
@media (max-width: 940px) {
    #card1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #card2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #card3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}