@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  font-family:"Raleway", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden!important;
}

.landing-section {
  overflow: hidden;
  background-color: #e2f4ff;
  /* height: 100vh; */
}

.row > div {
  padding: 0;
  margin: 0;
}
.main-text {
  font-size: 65px!important;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: .007em;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}
.head-text {
  text-align: center;
  color: white;
}
.sub-text {
  color: #63636e!important;
  font-weight: 800;
  font-family: "Droid Serif";
  font-style: italic;

}
.head-container {
  margin-top: 6rem;
  
}








.navbar{
  /* position: fixed; */
  top:0;
  left:0;
  right:0;
  opacity: 1!important;
  display:flex;
  align-items:center;
  padding:30px 20px 30px 0px!important;
  background:transparent;
  z-index: 100000000;
  justify-content: space-evenly;
  position: absolute!important;
}

.navbar svg {
  fill: #0274d1;
}

.logo{
  display:inline-block;
  width:45px;
  height:45px;
  fill: rgb(103, 109, 117);
}
.logo img{
  max-width:100%;
  height:auto;
}
.menu {
  margin-bottom: 0;
}
.menu-item{
  display:inline-block;
  margin-left:15px;
}
.menu-item a{
  color: rgb(103, 109, 117);
  font-size: 18px;
  font-weight: bolder!important;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}

.menu-item a:hover {
  text-decoration: none;
}


.subscribe-btn {
  background-color: white;
  border: 0;
  color: #5397FE;
  font-weight: 800;
  line-height: 2;
  border-radius: 25px;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease 0s;
  min-width: 10rem;
}
.subscribe-btn:focus {
  outline: none!important;
  border: 0!important;
}

.subscribe-btn:hover {
  /* color: #5397FE; */
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  /* transform: translateY(-7px); */
}


@media (max-width: 840px) {
  .menu {
    display: none;
  }
  .landing-section{
    height: auto;
  }
  .copy-container {
    display: none;
  }
  
}





